extends layout

block content
  section
    div.container
      h1= title
      p= message
      if errors
        div.alert.alert-warning
          div.container
            each err in errors
              p= err

      p Redirecting in a few seconds...

    script(nonce="redirection").
      setTimeout(function(){window.location.href='#{url}';},#{timeout});
